argparse
black>=20.8b1
flake8
h5py<2.11.0,>=2.10.0
isort
m2r2
matplotlib
nibabel
notebook
numpy==1.18.5
pandas
pre-commit
pytest
pytest-cov
pytest-dependency
pyyaml>=5.3.1
scipy
seed-isort-config
sphinx==3.2.1
sphinx-notfound-page
sphinx-rtd-theme
sphinx-tabs
tensorboard_plugin_profile
tensorflow==2.3.1
testfixtures
tqdm
