argparse==1.4.0
black==21.5b1
flake8==3.9.0
GitPython==3.1.14
h5py==2.10.0
isort==5.8.0
m2r2==0.2.7
matplotlib==3.4.1
nibabel==3.2.1
notebook==6.3.0
numpy==1.18.5
pandas==1.2.4
pre-commit==2.12.0
pydocstyle==6.0.0
pydot==1.4.2
pylint==2.8.1
pytest==6.2.3
pytest-cov==2.11.1
pytest-dependency==0.5.1
pyyaml==5.4.1
scipy==1.6.2
seed-isort-config==2.2.0
sphinx==3.5.3
sphinx-notfound-page==0.6
sphinx-rtd-theme==0.5.2
sphinx-tabs==3.0.0
tabulate==0.8.9
tensorboard_plugin_profile==2.3.0
tensorflow==2.3.1
testfixtures==6.17.1
tox==3.23.0
tqdm==4.60.0
